<!-- /sections/password.liquid -->
{%- if section.settings.image -%}
  {%- assign img_object = section.settings.image -%}
{%- else -%}
  {%- assign img_object = 'password-page-background.svg' | asset_url -%}
{%- endif -%}

<div class="password__wrapper lazyload" data-bgset="{% include 'bgset', image: img_object %}">
  <div class="password__main" role="main">
    <div class="password__main__inner">
      <div class="password__box">
        <h2 class="password__hero">
          {% if section.settings.logo %}
          {% capture image_size %}800x{% endcapture %}
          <figure>
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          class="logo"
          itemprop="logo">
          {% comment %} ADDED BY ANDREW {% endcomment %}
          <figcaption> <font size=4.5px>ENTER WITH PASSWORD</font> </figcaption>
          </figure>

          {% comment %} END ADDED BY ANDREW {% endcomment %}

          {% else %}
            <span>{{ shop.name }}</span>
          {% endif %}
          {% comment %} ADDED BY ANDREW {% endcomment %}

          {% form 'storefront_password' %}
  		  {{ form.errors | default_errors }}
  		  <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
  		  <div class="input-group newsletter-form">
    		<input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
    		<span class="input-group-btn-andrew">
      		  <button type="submit" name="commit" class="btn uppercase">
        		<span>{{ 'general.password_page.login_form_submit' | t }}</span>
      		  </button>
    		</span>
  		  </div>
          {% endform %}
          {% comment %} END ADDED BY ANDREW {% endcomment %}
        </h2>
  </div>

      {% comment %}
  <footer class="password__footer" role="contentinfo">
    <div class="password__footer__inner">
      <p class="password-login uppercase">
        <a href="http://www.shopify.com">
           {{  'general.password_page.powered_by_shopify' | t  }}
        </a>
        <span class="hidden-md">|</span>
        <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
          {{ 'general.password_page.password_link' | t }}
        </a>
      </p>
    </div>
  </footer>
      {% endcomment %}

</div>

<div id="LoginModal" class="password__login-form text-center mfp-hide">
  <p class="h4 title">{{ 'general.password_page.login_form_heading' | t }}</p>
  {% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
  <div class="input-group newsletter-form">
    <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
    <span class="input-group-btn">
      <button type="submit" name="commit" class="btn uppercase">
        <span>{{ 'general.password_page.login_form_submit' | t }}</span>
      </button>
    </span>
  </div>
  {% endform %}
  <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
</div>

<!-- Theme Javascript ============================================================== -->
{{ 'theme.js' | asset_url | script_tag }}

<script>

$(function() {
  $('.js-toggle-login-modal').magnificPopup({
    type: 'inline',
    mainClass: 'mfp-fade',
    closeOnBgClick: false,
    closeBtnInside: false,
    closeOnContentClick: false,
    tClose: 'x',
    removalDelay: 500,
    callbacks: {
      open: function() {
        window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
      },
      close: function() {
        window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
      }
    }
  });
  if ( $('.storefront-password-form .errors').size() ) {
    $('.js-toggle-login-modal').click();
  }
});
</script>


{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "id": "richtext",
      "type": "richtext",
      "label": "Newsletter description",
      "default": "<p></p>"
    }
  ]
}
{% endschema %}
